/* Center main landing page title and subtitle */
.landingpage-title,
.landingpage-header,
.page-title,
.page-header,
.landingpage-subtitle,
.page-subtitle {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

/* Reduce navbar/menu padding on desktop */
@media (min-width: 768px) {
  .navbar-nav .nav-link,
  .navbar-nav .dropdown-item {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

.splash-chulapa-image {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('/assets/images/network.gif') !important;
  background-size: cover;
  background-position: center;
}
